.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 170px;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap:100px;
    font-size: 20px;
    
}
.nav-connect{
    padding: 20px 40px;
    margin-left: 10em;
    border-radius: 50px;
    background:linear-gradient(267deg,#DA7C25 .36%, #b923E1 102.06%);
    cursor: pointer;
    transition: 0.5s;
}
.nav-connect:hover{
    transform: scale(1.05);
}
.nav-menu li{
    font-size: 25px;
    font-family: 'Roboto';
    animation: slideTop .5s ease forwards;
}
.nav-menu li :hover{
    color: aqua;
    border: 2px solid aqua;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-size: 28px;
}

.anchor-link{
    text-decoration: none;
    color: white;
}
.nav-mob-close{
    display: none;
}
.nav-mob-open{
    display: none;
}
@keyframes slideTop {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}


@media screen and (max-width:768px) {
    .navbar{
        margin: 20px 50px;
    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 30px;
        width:5em;
    }
    .nav-mob-close{
        display: block;
        position: relative;
        top:40px;
        left:250px;
        width:50px;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top:0;
        gap:30px;
        background-color: #1f001f;
        width:350px;
        height: 100%;
        z-index:2;
        transition: right 0.5s;
        right: -350px;
        border-radius: 70px;
    }
    .nav-menu li{
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap:20px;
    }
}
@media screen and (min-width:768px) and (max-width:993px){
   .navbar{
    
    margin: 0px 90px;
   }
    .nav-menu{
        gap:88px;
        font-size: 20px;
        margin-right: 2em;
        
    }
}